/Figure2_exp1cycA.ai
/Figure2_exp1cycA.svg
/Figure2_exp1cycB.ai
/Figure2_exp1cycB.svg
/Figure2_exp1cycE.ai
/Figure2_exp1cycE.svg
/Figure2_exp2.ai
/Figure2_exp2cycA.ai
/Figure2_exp2cycA.svg
/Figure2_exp2cycB.ai
/Figure2_exp2cycB.svg
/Figure2_exp2cycE.ai
/Figure2_exp2cycE.svg
/Figure2_exp1.ai
